# === Ambiente Python ===
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# === Django ===
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# === Variáveis de ambiente ===
.env

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo

# === Sistema Operacional ===
.DS_Store
Thumbs.db

# === Distribuição / Build ===
dist/
build/
*.egg-info/
